<md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
    <md-toolbar md-scroll-shrink>
        <h1 class="md-toolbar-tools">Categories</h1>
    </md-toolbar>
    <md-list>
        <md-list-item>
            <md-button>
                Funny
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
<md-content id="content" flex layout-xs="column" layout="row" class="md-padding">
    <div flex-xs flex-gt-xs="50" layout="column" class="full-height">
        <md-card ng-repeat="video in trending" ng-if="$even">
            <img src="{{video.thumb}}" alt="Washed Out" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{video.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button>Play</md-button>
            </md-card-actions>
            <md-card-content>
                <p>
                    {{video.desc}}
                </p>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column" class="full-height">
        <md-card ng-repeat="video in trending" ng-if="$odd">
            <img src="{{video.thumb}}" alt="Washed Out" class="md-card-image">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{video.title}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
                <md-button>Play</md-button>
            </md-card-actions>
            <md-card-content>
                <p>
                    {{video.desc}}
                </p>
            </md-card-content>
        </md-card>
    </div>
</md-content>